# **Data Science Tools and Ecosystem**

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives**
- List popular languages for Data Science
- List popular libraries for Data Science
- List a few examples of evaluation arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Phyton
2. Java
3. C++
4. C

### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. NumPy
4. SciPy

| Data Science Tools |
|--------------------|
|Git|
|Apache Subversion|
|Eclipse IDE|

### Below are a few examples of evaluating arithmetic expressions in Python.

#### This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [5]:
200%60

20

## Author
Aleksandar